<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Products</title>

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/users/fonts/iconic/css/material-design-iconic-font.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/products/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/products/css/shop-homepage.css" type="text/css" rel="stylesheet">
</head>
<body th:onload="loadPage()">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <span class="shop-logo">
           <!--<i class="zmdi zmdi-usb"></i>-->
            <i class="zmdi zmdi-github-alt"></i>
        </span>
        <a class="navbar-brand" href="/">Best buy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.remoteUser != null}">
                    <a class="nav-link" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</a>
                </li>
                <form class="nav-item" th:action="@{/logout}" th:if="${#httpServletRequest.remoteUser != null}"
                      method="post">
                    <input class="btn btn-primary" type="submit" value="Sign Out"/>
                </form>
                <li class="nav-item" th:if="${#httpServletRequest.remoteUser == null}">
                    <a class="navbar-text" href="/login">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <div class="list-group">
                <h1 class="title">Category</h1>
                <div th:each="category : ${categories}">
                    <a th:href="@{/products/{category}(category=${category.getCategoryName()})}" class="list-group-item"
                       th:text="${category.getCategoryName()}"/>
                </div>
            </div>
            <div class="card" th:if="${categories.size() == 1}">
                <h1 class="title">Parameters</h1>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside1"
                                                   data-abc="true" aria-expanded="false" class="collapsed"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Price </h6>
                    </a></header>
                    <div class="filter-content collapse" id="collapse_aside1" style="">
                        <div class="card-body"><input type="range" class="custom-range" min="0" max="100" name="">
                            <div class="form-row">
                                <div class="form-group col-md-6"><label>Min</label> <input class="form-control"
                                                                                           placeholder="$0"
                                                                                           type="number"></div>
                                <div class="form-group text-right col-md-6"><label>Max</label> <input
                                        class="form-control" placeholder="$1,0000" type="number"></div>
                            </div>
                            <a href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five"
                               data-abc="true">Apply Now</a>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside2"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Diagonals </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside2" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="diagonal : ${diagonals}">
                                <input type="checkbox"
                                       th:id="'diagonals' + ${diagonal.getId()}"
                                       th:onclick="setFilterParameters([[${diagonal.getId()}]],[['diagonals']]);"
                                       class="custom-control-input"/>
                                <div class="custom-control-label" th:text="${diagonal.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside3"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Resolutions </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside3" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="resolution : ${resolutions}">
                                <input type="checkbox"
                                       th:id="'resolutions' + ${resolution.getId()}"
                                       th:onclick="setFilterParameters([[${resolution.getId()}]],[['resolutions']]);"
                                       class="custom-control-input"/>
                                <div class="custom-control-label" th:text="${resolution.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside4"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Memory sizes </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside4" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="memorySize : ${memorySizes}">
                                <input type="checkbox"
                                       th:id="'memorySizes' + ${memorySize.getId()}"
                                       th:onclick="setFilterParameters([[${memorySize.getId()}]],[['memorySizes']]);"
                                       class="custom-control-input">
                                <div class="custom-control-label" th:text="${memorySize.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside5"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Flash memory sizes </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside5" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="flashMemorySize : ${flashMemorySizes}">
                                <input type="checkbox"
                                       th:id="'flashMemorySizes' + ${flashMemorySize.getId()}"
                                       th:onclick="setFilterParameters([[${flashMemorySize.getId()}]],[['flashMemorySizes']]);"
                                       class="custom-control-input">
                                <div class="custom-control-label" th:text="${flashMemorySize.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside6"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Battery capacity </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside6" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="batteryCapacity : ${batteryCapacities}">
                                <input type="checkbox"
                                       th:id="'batteryCapacities' + ${batteryCapacity.getId()}"
                                       th:onclick="setFilterParameters([[${batteryCapacity.getId()}]],[['batteryCapacities']]);"
                                       class="custom-control-input">
                                <div class="custom-control-label" th:text="${batteryCapacity.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside7"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Memory capacities </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside7" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="capacity : ${capacities}">
                                <input type="checkbox"
                                       th:id="'capacities' + ${capacity.getId()}"
                                       th:onclick="setFilterParameters([[${capacity.getId()}]],[['capacities']]);"
                                       class="custom-control-input">
                                <div class="custom-control-label" th:text="${capacity.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside8"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Colors </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside8" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="color : ${colors}">
                                <input type="checkbox"
                                       th:id="'colors' + ${color.getId()}"
                                       th:onclick="setFilterParameters([[${color.getId()}]],[['colors']]);"
                                       class="custom-control-input">
                                <div class="custom-control-label" th:text="${color.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside9"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Cpu </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside9" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="cpu : ${cpus}">
                                <input type="checkbox"
                                       th:id="'cpus' + ${cpu.getId()}"
                                       th:onclick="setFilterParameters([[${cpu.getId()}]],[['cpus']]);"
                                       class="custom-control-input">
                                <div class="custom-control-label" th:text="${cpu.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"><a href="#" data-toggle="collapse" data-target="#collapse_aside10"
                                                   data-abc="true" class="collapsed" aria-expanded="false"> <i
                            class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Display types </h6>
                    </a></header>
                    <div class="filter-content" id="collapse_aside10" style="">
                        <div class="card-body">
                            <label class="custom-control" th:each="displayType : ${displayTypes}">
                                <input type="checkbox"
                                       th:id="'displayTypes' + ${displayType.getId()}"
                                       th:onclick="setFilterParameters([[${displayType.getId()}]],[['displayTypes']]);"
                                       class="custom-control-input">
                                <div class="custom-control-label" th:text="${displayType.getValue()}"/>
                            </label>
                        </div>
                    </div>
                </article>
            </div>

        </div>

        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4" th:each="product : ${productPage.getContent()}">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" th:src="${product.getImageUrl()}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <p th:text="${product.name}"/>
                            </h4>
                            <h5><p th:text="${product.price}"/></h5>
                            <p class="card-text">
                            <p th:text="${product.getCategory().getCategoryName()}"/></p>
                            <p class="card-text">
                            <p th:text="${product.getManufacturer().getManufacturerName()}"/></p>
                            <p class="card-text">
                            <p th:text="${product.description}"/></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" th:if="${productPage.totalPages > 1}">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Pages</a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                        th:class="${pageNumber==productPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a class="page-link"
                           th:text="${pageNumber}"
                           th:href="@{/(size=${productPage.size}, page=${pageNumber})}"></a>
                    </li>
                </ul>
            </nav>

            <div th:if="${productPage.getContent().size() == 0}">
                <p class="alert alert-danger" role="alert" th:text="'Nothing to show!'"/>
                <a class="stretched-link" th:onclick="history.back()"><h1>Back</h1></a>
                <!-- JS history Back() -->
            </div>

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel"
                 th:if="${productPage.getContent().size() == 0}">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/products/vendor/jquery/jquery.min.js"></script>
<script src="/products/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script language="JavaScript">
    function setFilterParameters(id, paramName) {
        var url = new URL(window.location.href);
        var params = new URLSearchParams(url.searchParams);
        var paramsValues = params.get(paramName);
        var productUrl = url.href.substring(0, url.href.indexOf('?'));

        if (paramsValues == null) {
            paramsValues = id;
            params.append(paramName, paramsValues);
        } else {
            params.delete(paramName);
            if (paramsValues.match(id)) {
                if (paramsValues.length > 1) {
                    paramsValues = paramsValues.replaceAll("," + id, "");
                    params.append(paramName, paramsValues);
                }
            } else {
                paramsValues = paramsValues + "," + id;
                params.append(paramName, paramsValues);
            }
        }
        productUrl = productUrl + "?" + params;
        productUrl = productUrl.replaceAll("%2C", ",")
        document.location.href = productUrl;
    }

        function loadPage() {
            var url = new URL(window.location.href);
            var params = new URLSearchParams(url.searchParams);

            params.forEach(function(filterParam, key) {
                filterParam = filterParam.split(",");
                for (var i = 0; i < filterParam.length; i++) {
                    document.getElementById(key + filterParam[i]).checked = true;
                }
            });
        }
</script>
</body>
</html>