<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>

    <!-- Bootstrap core CSS -->
    <link href="/products/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/products/css/shop-homepage.css" type="text/css" rel="stylesheet">

</head>
<body>
<!-- Page Content -->
<div class="container">

    <div class="border border-light p-3 mb-4">
        <div class="d-flex align-items-center justify-content-center" style="height: 350px">
            <div class="p-2 bd-highlight col-example">
                <h1>Success! Thank You for your buying!</h1>
            </div>
            <div class="p-2 bd-highlight col-example">
                <a class="nav-link" href="/">Back to the shop</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>